<link rel="stylesheet" href="/style.css">
<nav>
    <div class="logo">Logo</div>
    <div>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/addtask">Add Task</a>
        <form action="/logout" method="POST">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
</nav>
